<div class="entryform">
<!-- <h1>This competition has now closed..</h1> -->
<div id="notification">
<p id="notice"><%= notice %></p>
</div>

<h1>Complete the form below and upload your valid purchase receipt to enter the draw!</h1>
<%= render 'form', entry: @entry %>
<div class="disclaimer">
The Yokohama “Your Chance to Win $100,000” competition runs from 7:00am (AEST) on 1st July 2017 to 5:00pm (AEST) on 22nd September 2017.  
</div>
<hr>
<div class="disclaimer2">
Only valid receipts entered via this website will be considered eligible for the chance to win the major prize. You must be 18 years or older to enter and claim the competition prize. For full terms and conditions, <%= link_to 'click here', terms_index_path %>
</div>
</div>
