<div class="entryform">
<% if @notification %>
<div id="notification">
<%= @notification %>
</div>
<% end %>
<h1>Enter the unique information from your valid purchase receipt below for a chance to win!</h1>
<%= render 'form', entry: @entry %>
<div class="disclaimer">
The Ali Baba Win a Chance to Win $1 Million competition runs from 9:00am (AEST) on Tuesday 4th October 2016 to 11:00pm (AEST) on Sunday 4th December 2016. The Major Prize Giveaway will be held on Friday 20th January 2017. 
</div>
<hr>
<div class="disclaimer2">
Only valid receipts entered via this website will be considered eligible for the chance to win the major prize. You must be 18 years or older to enter and claim the competition prize. For full terms and conditions, <a href="">click here</a>.
</div>
</div>
