<div class="entryform thankyou">
Thank you for submitting your entry for a chance to win.
<br>
You will be contacted either via phone or email if you have been chosen as the winner.
<a class="btn-back" href="http://yokohama.com.au">Return to yokohama.com.au</a>
</div>
