<div class="entryform">
YOKOHAMA WIN $100,000 PROMOTION

1. Information on how to enter and prizes form part of these Terms and Conditions. Participation in this promotion is deemed acceptance of these Terms and Conditions.

2. The competition commences 7:00am AEST Saturday,1st July 2017, and concludes 5:00pm AEST Friday, 22nd September 2017 (Promotion Period).

3. Entry is open to all Australian residents who are 18 years of age or older. Employees (and their immediate families) of Yokohama Tyre Australia Pty Ltd (the Promoter), participating stores and agencies associated with this promotion are ineligible to enter. Immediate family means any of the following: spouse, ex-spouse, de-facto spouse, child or step-child (whether natural or by adoption), parent, step-parent, grandparent, step-grandparent, uncle, aunt, niece, nephew, brother, sister, step-brother, step-sister or 1st cousin. Only customers of Official Yokohama Dealerships will be eligible to enter the competition. Promotion is not available to fleet, wholesale & business customers.

4. To enter the competition, customers must purchase four (4) Yokohama Tyres from the Yokohama Passenger Car, 4WD/SUV or Van range, within one transaction, from a participating Tyres and More store, Bob Jane T-Marts or approved Yokohama Key Dealer. 

5. Customers must visit iamyokohama.com.au then upload their receipt and enter their details to enter the major prize draw. Customers who purchase Yokohama tyres from a Bob Jane T- Marts store must visit www.bobjane.com.au to enter their details.


Major Prize 
The major prize is the chance to win $100,000 cash.

Main Entrant Selection Draw
1. To enter the Major prize visit www.iamyokohama.com.au or www.bobjane.com.au follow the prompts to the draw entry page, input the requested details by 11:59pm on Friday, 29th September 2017. 
2. The Main entrant selection draw will take place at the Yokohama Office, 123-129 Silverwater Road Silverwater NSW, at 12noon on Monday, 2nd October 2017, subject to any directions from a regulatory authority. Winner will be notified via phone within two (2) business days of the draw. One entrant will be randomly selected to take part in the major prize giveaway.

Major Prize Giveaway
3. The entrant selected in the main entrant selection draw will play a game of chance to win $100,000. They Major Prize Giveaway will take place on Saturday 14th October 2007 at World Time Attack, Sydney Motorsport Park, Ferrers Rd, Eastern Creek NSW at 1pm.
4. The entrant selected must communicate their acceptance to play the game of chance to win $100,000 by Wednesday, 4th October 2017.  If the selected entrant cannot attend the Major Prize Giveaway they may select a proxy to participate on their behalf with pre-written approval.
5. The major prize giveaway will entail a manual envelope draw with 100 numbers; one of the envelopes will contain the $100,000 prize message written on it. The entrant has one chance to select a numbered item and open the envelope to reveal the prize. The game of chance is 1 in 100 chance of winning $100,000. The envelope draw will be supervised to ensure it is a random selection and only 1 envelope contains the major prize. 99 envelopes will reveal a prize of $1000.
6. If the winning number is selected, the Main entrant will receive a full cheque within 30 days from the major prize draw.
7. The main entrant along with one guest will be flown to Sydney, from their closest capital city and will receive x 2 nights accommodation and transfers. Breakfast is included, 2 day pass to World Time Attack with all meals included. Any additional costs incurred by the main entrant and their guests are not included in the prize and are the responsibility of the main entrant and their guest.


General Conditions of Entry

a. Incomplete, indecipherable or illegible entries will be deemed invalid.
b. Multiple entries are permitted, subject to the following: (a) only one entry will be permitted via each purchase requirement; (b) each entry must be submitted separately and in accordance with entry requirements; (c) the same receipt cannot be used more than once; and (e) unrecognised receipts will be deemed invalid. 
c. Winner will be notified via phone. 
d. The Promoter reserves the right, at any time, to verify the validity of entries, prize claims and entrants (including an entrant’s identity, age and place of residence) and to disqualify any entrant who submits an entry or prize claim that is not in accordance with these Terms and Conditions or who tampers with the entry process. 
e. Errors and omissions may be accepted at the Promoter's discretion. Failure by the Promoter to enforce any of its rights at any stage does not constitute a waiver of those rights. 
f. Winner must retain their original receipt as proof of purchase. 
g. If there is a dispute as to the identity of an entrant, the Promoter reserves the right, in its sole discretion, to determine the identity of the entrant. 
h. The Promoter’s decision is final and no correspondence will be entered into. 
i. Total prize pool value available to be won in Australia is $102,000 AUD (inclusive of prize money, plus flights, accommodation, meals, transfers and tickets to the event). Money is not transferable or exchangeable.
j. Winners name will be published on website within 2 business days.
k. Entrants consent to the Promoter using their name, likeness, image and/or voice in the event they are a winner (including photograph, film and/or recording of the same) in any media for an unlimited period without remuneration for the purpose of promoting this promotion (including any outcome), and promoting any products manufactured, distributed and/or supplied by the Promoter. 
l. If this promotion is interfered with in any way or is not capable of being conducted as reasonably anticipated due to any reason beyond the reasonable control of the Promoter, including but not limited to technical difficulties, unauthorised intervention or fraud, the Promoter reserves the right, in its sole discretion, to the fullest extent permitted by law: (a) to disqualify any entrant; or (b) subject to any written directions from a regulatory authority, to modify, suspend, terminate or cancel the promotion, as appropriate.
m. Any cost associated with accessing the promotional website is the entrant’s responsibility and is dependent on the Internet service provider used. The use of any automated entry software or any other mechanical or electronic means that allows an entrant to automatically enter repeatedly is prohibited and will render all entries submitted by that entrant invalid. 
n. Except for any liability that cannot by law be excluded, including the Non-Excludable Guarantees, the Promoter (including its respective officers, employees and agents) is not responsible for and excludes all liability (including negligence), for any personal injury; or any loss or damage (including loss of opportunity); whether direct, indirect, special or consequential, arising in any way out of: (a) any technical difficulties or equipment malfunction (whether or not under the Promoter’s control); (b) any theft, unauthorised access or third party interference; (c) any entry or prize claim that is late, lost, altered, damaged or misdirected (whether or not after their receipt by the Promoter) due to any reason beyond the reasonable control of the Promoter; (d) any variation in prize value to that stated in these Terms and Conditions; (e) any tax liability incurred by a winner or entrant; or (f) taking/use of a prize.
o. In the event of war, terrorism, state of emergency or disaster, the Promoter reserves the right to cancel, terminate, modify or suspend the promotion, subject to any written directions from a relevant regulatory authority.
p. The personal information supplied to the Promoter for the purpose of entering this competition will not be used for future marketing and publicity purposes. The personal information may be disclosed to third parties to determine whether an entrant has breached these terms and conditions. You consent to us so using and disclosing your personal information. Please contact us if you do not wish us to use your personal information for these purposes, or if you wish to access, correct or update the information.
q. The Promoter is: Yokohama Tyre Australia Ply Ltd ABN: 26 001 361 459 PO Box 6002, Silverwater NSW 1811 Phone: (02) 8748 2600 Fax: (02) 9737 8014


Permit Numbers: ACT TP 17/01119.1, NSW LTPS/17/15085   SA T17/1065
</div>